.layers{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin-top: 2.3%;
    margin-left: 44.9%;
    cursor: pointer;
}

#left:hover{
    transition: all 0.5s ease-out;
    width: 70px;
}

#right:hover{
    transition: all 0.5s ease-out;
    width: 70px;
}

.titles{
    margin-top: 3.5%;
    text-align: center;
    color: #585656;
}

body{
    font-family: 'Kaushan Script', cursive;
    font-size: 19px;
}

.link{
    font-size: 13px;
    text-align: center;
    color: grey;
    margin-top: 3.5%;
}

#interface{
    width: 45%;
    margin-left: 25%;
}

#city{
    width: 70%;
    margin-left: 14%;
}

#cover{
    width: 47%;
    margin-left: 26%;
    border: 3px solid grey;
}

.intro{
    margin-left: 26%;
    width: 600px;
    color: grey;
    font-family: 'Manjari', sans-serif;
}